/* original: solarized (https://ethanschoonover.com/solarized) */
$background-dark: #002b36;
$color-dark: #839496;

$background-light: #073642;
$color-light: #93a1a1;

$linkColor: #b58900;
$visitedLinkColor: #cb4b16;

%pagination {
    display: flex;
    flex-wrap: wrap;

    > * {
        margin-right: 2em;
    }
}

* {
    box-sizing: border-box;
}

body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
    line-height: 1.6;
    font-family: sans-serif;
    color: $color-light;
    background-color: $background-light;
}

a {
    color: $linkColor;
    text-decoration: underline;
}

a:hover, a:focus{
    outline: thin dashed;
}

a:active {
    outline: medium solid;
}

a:visited {
    color: $visitedLinkColor;
}

mark {
    color: $background-light;
    background-color: $color-light;
}

pre, code, samp, kbd {
    font-size: 1em;
    font-family: monospace, monospace;
}

pre, samp, code, blockquote {
   background: $background-dark;
}

code, samp {
    white-space: pre-wrap;
}

pre > code, pre > samp {
    white-space: pre;
}

blockquote {
   border-left: medium solid;
}

table {
    border-collapse: collapse;
}

.header {
    &-title {
        margin: 0;
        font-size: 1em;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widgets {
    > * {
        margin: 2em auto;
        max-width: 95%;
    }
}

.Blog {
    > * {
        margin: 2em 0;
    }
}

.pagination {
    @extend %pagination;
}

.post {
    &-header {
        border-bottom: thin solid;
    }

    &-title {
        margin: 0;
        font-size: 1.3em;
    }

    &-meta {
        font-size: 0.8em;
        display: flex;
        flex-wrap: wrap;

        > * {
            display: block;
        }
    }

    &-date {
        margin-right: 2em;
    }
}

.archives {
    &-title {
        margin: 0;
        font-size: 1em;
        border-bottom: thin solid;
    }

    &-monthly {
        padding-left: 2.5em;
    }
}

.labels {
    &-title {
        margin: 0;
        font-size: 1em;
        border-bottom: thin solid;
    }
}
