$background-light: #eee8e3;
$color-light: #302040;

$background-dark: #d8dadd;

$linkColor: #004090;

* {
    box-sizing: border-box;
}

body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
    line-height: 1.6;
    font-family: sans-serif;
    color: $color-light;
    background-color: $background-light;
}

a {
    color: $linkColor;
    text-decoration: underline;
}

a:hover, a:focus{
    outline: thin dashed;
}

a:active {
    outline: medium solid;
}

pre, code, samp, kbd {
    font-size: 1em;
    font-family: monospace, monospace;
    background-color: $background-dark;
}

blockquote {
    border: thin solid;
    border-radius: 0.5em;
    padding: 0.5em;
}

table {
    border-collapse: collapse;
}

th, td {
    border: thin solid;
}

.header {
    &-title {
        margin: 0;
        font-size: 1em;
        font-weight: normal;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widgets {
    > * {
        margin: 2em auto;
        max-width: 95%;
    }
}

.Blog, .blogMain {
    > * {
        margin: 2em 0;
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;

    &-pageLink--center {
        margin: 0 auto;
        padding: 0 0.5em;
    }
}

.post {
    &-header {
        border-bottom: thin solid;
    }

    &-title {
        margin: 0;
        font-size: 1.3em;
    }

    &-meta {
        font-size: 0.8em;
        display: flex;
        flex-wrap: wrap;

        > * {
            display: block;
        }
    }

    &-date {
        margin-right: 2em;
    }
}

.archives {
    &-title {
        margin: 0;
        font-size: 1em;
        border-bottom: thin solid;
    }

    &-monthly {
        padding-left: 2.5em;
    }
}

.labels {
    &-title {
        margin: 0;
        font-size: 1em;
        border-bottom: thin solid;
    }
}
