@import "./common.scss";

.post {
    &-body {
        margin: 1em 0;

        @media screen {
            table {
                white-space: nowrap;
                overflow: auto;
                display: block;
            }

            pre {
                overflow-x: auto;
            }
       }
    }

    &-footer {
        border-top: thin solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 0.8em;
    }

    &-author {
        font-style: normal;
    }
}

.comments {
    > * {
        margin: 2em 0;
    }

    &-pagination {
        @extend %pagination;
    }
}

.comment {
    &-header {
        border-bottom: thin solid;
    }

    &-author {
        font-style: normal;
        font-weight: bold;
    }

    &-date {
        font-size: 0.8em;
    }
}
