.post {
    &-body {
        margin: 1em 0;

        @media screen {
            pre {
                overflow-x: auto;
            }
       }
    }

    &-footer {
        border-top: thin solid;
    }

    &-author {
        display: inline;
        font-style: normal;
    }
}

.comments {
    > * {
        margin: 2em 0;
    }

    &-pagination {
        display: flex;
        flex-wrap: wrap;

        > * {
            flex: 1 1 15em;
            margin: 1em;
            text-align: center;
        }
    }
}

.comment {
    &-header {
        border-bottom: thin solid;
    }

    &-author {
        font-style: normal;
        font-weight: bold;
    }
}
